# tidyr in Python

In [1]:
from rpy2.robjects.lib.tidyr import DataFrame

(note: `dplyr` is implicitly used by `tidyr`.)

In addition to that, and because this tutorial is in a notebook,
we initialize HTML rendering for R objects (pretty display of
R data frames).

In [2]:
import rpy2.ipython.html
rpy2.ipython.html.init_printing()

In [3]:
from collections import OrderedDict
from rpy2.robjects.vectors import (StrVector,
                                   IntVector)
dataf = DataFrame(OrderedDict(x=StrVector(("a", "b", "b")),
                              y=IntVector((3, 4, 5)),
		              z=IntVector((6, 7, 8))))
dataf

<DataFrame - Python:0x7fbc556e4908 / R:0x369d9e8>
[IntVector, FactorVector, IntVector]
  z: <class 'rpy2.robjects.vectors.IntVector'>
  <IntVector - Python:0x7fbc5572bf48 / R:0x1ca7ec8>
[       6,        7,        8]
  x: <class 'rpy2.robjects.vectors.FactorVector'>
  <FactorVector - Python:0x7fbc556da188 / R:0x1c1ad98>
[       1,        2,        2]
  y: <class 'rpy2.robjects.vectors.IntVector'>
  <IntVector - Python:0x7fbc55996548 / R:0x1ccc930>
[       3,        4,        5]

In [4]:
dataf.spread('x', 'y')

<DataFrame - Python:0x7fbc556f5e48 / R:0x3f61e48>
[IntVector, IntVector, IntVector]
  z: <class 'rpy2.robjects.vectors.IntVector'>
  <IntVector - Python:0x7fbc559962c8 / R:0x368ec20>
[       6,        7,        8]
  a: <class 'rpy2.robjects.vectors.IntVector'>
  <IntVector - Python:0x7fbc556daec8 / R:0x37ccbb0>
[       3, NA_integer_, NA_integer_]
  b: <class 'rpy2.robjects.vectors.IntVector'>
  <IntVector - Python:0x7fbc556dabc8 / R:0x37ccb78>
[NA_integer_,        4,        5]

**Reuse. Get things done. Don't reimplement.**